/* reset CSS */
*{margin:0; padding:0;}
ul li{list-style: none;}
a{outline:0; text-decoration: none; color:#000;}
img{border:0;}
body{font:12px/1.6 arial; color:#000;}

/* #contentWrap */
#contentWrap{
    width:970px;
    margin:0 auto;
}

#contentWrap > h1 {
    width: 970px; height:50px;
    text-align: center;
    border-bottom: 3px solid #aaa;
    margin:0 auto;
}

/* typeCon */
#typeCon{
    width: 600px; height:400px;
    margin:0 auto;
    position: relative;
}

/* #category */
#category{
    position: relative;
    display:block;
    height:40px;
    overflow: hidden;
    float: left;
}
.menu1{
    float: left;
    display:block;
    margin: 20px 90px 0 30px;
}
#category > ul{
    float : left;
    margin-top:20px;
    margin-left:20px;

}
#category > ul > li{
    float:left;
    display: block;
    width : 200px;
    margin: 0 auto;
}
/* type */
#type{
    display: block;
    float: left;
    height: 60px;
    margin: 40px 0 0 0;
    /* overflow: hidden; */
}
.menu2{
    float: left;
    display: block;
    height: 50px;
    margin: 15px 80px 0 40px;
}
#type .fashion{
    display: block;
}
#type .fashion > ul{
    float:left;
    width: 400px;
}
#type > .fashion > ul:nth-of-type(1) > li{
    float:left;
    display: block;
    width : 100px; height:40px;
    margin: 0 auto;
}
#type > .fashion > ul:nth-of-type(2) > li{
    float:left;
    width : 100px;
    margin: 0 auto;
}
#type .cosmetic{
    float: left;
    display: none;
    width: 400px;
}
#type .cosmetic > ul{
    float:left;
    width: 500px;
}
#type > .cosmetic > ul:nth-of-type(1) > li{
    float:left;
    display: block;
    width: 100px; height:40px;
    margin: 0 auto;
}
#type > .cosmetic > ul:nth-of-type(2) > li{
    float:left;
    width : 100px;
}
/* subType1 */
#subType1{
    float: left;
    display: block;
    height: 80px; width: 600px;
    margin: 40px 0 20px 0;
    /* overflow: hidden; */
}
.menu3{
    float: left;
    display: block;
    height: 60px;
    margin: 15px 50px 0 30px;   
}
#subType1 > div{ display: none;}
#subType1 > div > ul{
    float: left;
    width: 450px; 
}
#subType1 > div > ul:nth-of-type(1) > li{
    float:left;
    display: block;
    width : 80px; height:40px;
    margin-left:20px;
    

}
#subType1 > div > ul:nth-of-type(2) > li{
    float:left;
    width : 80px;
    margin-left:20px;

}
#subType1 > .fs3 > ul{
    display: block;
    width:400px;
    position: absolute;
    top: 200px; left: 150px;
}
#subType1 > .fs3 > ul > li{
    float: left;
    margin-left: 40px;
    margin-right: 65px;
}
#subType1 > .fs4 > ul{
    display: block;
    width:400px;
    position: absolute;
    top: 200px; left: 150px;
}
#subType1 > .fs4 > ul > li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
#subType1 > .fs8 > ul{
    display: block;
    width:470px; height: 30px;
}
#subType1 > .fs8 > ul > li{
    width: 70px !important; height: 10px;
    float: left;
}
#subType1 > .fs8 > ul:last-child > li{
    margin-left: 20px;
} 
/* subType2 */
#subType2{
    float: left;
    display: block;
    height: 80px; width: 600px;
    margin: 40px 0 20px 0;
    /* overflow: hidden; */
}
#subType2 > div{ display: none;}
#subType2 > div > ul{
    float: left;
    width: 470px;
}
#subType2 > div > ul > li{
    float: left;
    display: block;
    width : 120px; height:40px;
    margin-left:20px;
}

/* select */
#select{
    display: block;
    border-top:2px solid #aaa;
    border-bottom:2px solid #aaa;
    position: relative;
    height: 30px;
    top:270px;
}
#select ul{
    display: block;
    width: 550px; height: 30px;
}
#select > button{
    display: block;
    position: absolute;
    top: 5px; right: 0;   
}
/* sort */
#sort{
    display: block;
    position: absolute;
    top:300px;
    width: 600px;
    height: 40px;
    border-bottom: 2px solid #aaa;
}
#sort > ul{
    float: left;
}
#sort li{
    float: left;
    position: relative;
    width:80px;
    margin:10px 0 0  30px;
}

/* detailContentWrap*/
#detailContentWrap{
    width:800px;
    margin: 0 auto;
    display: block;
}
#detailCon > ul > li{
    float: left;
    margin: 10px 30px 30px 20px;
}
/* .colorBox */
.colorBox{
    width:150px;
    vertical-align: baseline;
    display: inline-block;
    overflow: hidden;
    margin: 3px 0 8px 0;

}
.colorBox span{
    float: left;
    width: 14px;
    height: 14px;
    margin: 0 4px 4px 0;
    font-size:0;
    border:1px solid #d7d7d7;
    cursor: pointer;
}
.colorBox input{
    float: right;
}

.colorBox > span:nth-of-type(1){
    background-color: aqua;
}
.colorBox > span:nth-of-type(2){
    background-color: black;
}
.colorBox > span:nth-of-type(3){
    background-color: violet;
}



/* navBarContent*/
#navBar{
    width:700px;
    /* height: 330px; */
    margin:0 auto;
    border:2px solid black;
    overflow: hidden;
    position: fixed;
    bottom: 0; left:22%;
    background-color: #d99f9d;
}
/* .navBarHeader */
.navBarHeader{
    display: block;
    height: 35px;
    position: relative;
}
/* #navBarHeaderOpt */
#navBarHeaderOpt{
    position: absolute;
    right:10px; top:5px;
}
/* .navBarHeaderOpt */
.navBarHeader #navBarHeaderOpt .btn_toggle{
    padding: 6px;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.navBarHeader #navBarHeaderOpt .btn_toggle .i_toggle{
    width: 18px;
    height: 10px;
    border: 0;
    background-position: -124px -345px;
}

.product_all {
    
}

/* navContentWrap(상품이 없어도 높이유지) */
.navContentWrap{
    height: 295px;
    display: none;
    overflow: hidden;
}
/* #navBarContent */

#navBarContent{
    float: left;
    display: block;
    width:560px;
    height: 278px;
    float: left;
    overflow-y: scroll;
}
#navBarContent li{
    float:left;
    margin-left: 10px
}
/* .navConInfo */
.navConInfo > div{
    width: 150px;
}
.navConInfo div > input{
    width: 10px;
    position: relative;
    left: 95px;
    top: -11px;
    height: 16px;
}
/* .del */
.del{
    float: right;
    margin-right: 30px;
}
/* .navPrice */
.navPrice{
    position: absolute;
}

/* .count */
.count{
    display: block;
    width: 10px; 
    position: relative;
    left: 110px; top:-30px;
    font-size: 0px;

}
.count img{
    cursor: pointer;
}
/* .totalPrice */
.totalPrice{
    width: 700px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top:2px solid #d7d7d7;
    text-align: right;
}
/* .ico */
.ico{
    display: inline-block;
    overflow: hidden;
    background: url('../images/bg_blog_190328.png') no-repeat;
    text-indent: -9999px;
}
/* .btn_delete */
.btn_delete{
    width: 85px;
    padding: 5px 0;
    background: transparent;
    border: 0;
    font-family: "Malgun Gothic","맑은 고딕";
    font-size: 13px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}

/* #navBarContentOpt */
#navBarContentOpt{
    width:140px;
    height: 285px;

    position: relative;
    top: 40px;
    display: block;

    float: right;
    overflow: hidden;
}
#navBarContentOpt > .btn_bucket{
    position: absolute;
    right: 30px;
    margin-bottom:50px;
}
#navBarContentOpt > .btn_order{
    position: absolute;
    top:50px; right:30px;
    margin-bottom:50px;
}
#navBarContentOpt > .btn_delete{
    position: absolute;
    right:30px; top:100px;
    margin-bottom:20px;
}

#navBarContentOpt .btn_delete .i_bin{
    width: 20px;
    height: 18px;
    background-position: -100px -310px;
    vertical-align: -3px;
    margin-right: 5px;
}
/* .ico */
.ico_bucket{
    display: inline-block;
    overflow: hidden;
    background: url('../images/basket_icon-icons.com_56201.png') no-repeat;
    text-indent: -9999px;
}
.ico_order{
    display: inline-block;
    overflow: hidden;
    background: url('../images/Dollar_icon.png') no-repeat;
    text-indent: -9999px;
}
.i_bin2{
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
    vertical-align: -3px;
    margin-right: 5px;
}
/* .btn */
.btn_bucket{
    width: 85px;
    padding: 5px 0;
    background: transparent;
    border: 0;
    font-family: "Malgun Gothic","맑은 고딕";
    font-size: 13px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}
.btn_order{
    width: 85px;
    padding: 5px 0;
    background: transparent;
    border: 0;
    font-family: "Malgun Gothic","맑은 고딕";
    font-size: 13px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}
