*{margin: 0; padding: 0;}
ol, ul, li{list-style: none;}
a{outline: 0; text-decoration: none; color: #555;} /*아웃라인 없애줌*/
img{border: 0;}

.orderListArea{
    width: 1000px;
    height: 800px;
    position: relative;
    margin:0 auto;
}

caption{
    height: 30px;
    text-align: center;
    font-size: 16px;
    padding:10px 0; 
    border-bottom: 1px solid #555;
}
#ordForm > table>  tr{
    margin:0 auto;
}

/* #ordForm > table > tr > th{
    margin: 10px 0;
} */

.chk{
    width: 100px;
    height: 20px;
    margin: 10px 0;
}

.thumb{
    width: 150px;
    height: 20px;
}

.product{
    width: 150px;
    height: 20px;
}

.name{
    width: 150px;
    height: 20px;
}

.price{
    width: 150px;
    height: 20px;
}

.quantity{
    width: 150px;
    height: 20px;
}

.mileage{
    width: 150px;
    height: 20px;
}

.total{
    width: 150px;
    height: 20px;
}



.body > .xans-record{
    height: 200px;
    margin:0 auto;
    border-bottom: 1px solid #555;
}
 
.xans-record > .item{
    width: 100px;
    height: 180px;
}

#ordForm table .item:nth-child(2) > img{
    width: 100px;
    height: 180px;
}

#name_i{
    height: 180px;
    width: 100px;
}

#all_p{
    width: 1000px;
    height: 60px;
    margin-right: 0;
    float: right;
    border-bottom: 1px solid #555;
}
#all_p > span{
    display: inline;
    /* font-size: 30px; */
}

#pri_btn{
    width: 1000px;
    height: 50px;
}

#pri_btn > .btn_p{
    width: 160px;
    height: 50px;
    float: left;
    margin-right: 25px; 
    background-color: #ccc;
    text-align: center;
}

#pri_btn > .btn_p:last-child{
    text-align: center;
    margin-right: 0;
    background-color:#d99f9d;
}




