*{margin: 0; padding: 0;}
ol,ul{list-style: none;}
a{ outline: 0; text-decoration: none; color: #555;}
img{border: 0;}
body{ font: 12px/1.6 arial; color:#555;  margin: 0 auto;
    position: relative;
}
input{border: 0;}

/*헤더*/
header{
    width: 970px; height: 80px;
    margin: 0 auto;
    /*overflow: hidden;*/
    position: relative;
    border-bottom: 1px solid #f07539;
}
/*왼쪽 gnb메뉴*/
h1{
    display: inline;
    position: absolute;
    top: 35px;
}
.menu{
    position: absolute;
    top: 42px;
    left: 86px;
    width: auto;
}
.shop{
    position: absolute;
    top: 42px;
    left: 445px;
}
.menu li{padding: 0 10px; width: auto;}
.shop2, .shop3{margin: 0 0 0 5px;}
.shop li{padding: 0 5px;width: auto;}
li{float: left;}

/*왼쪽 gnb메뉴끝*/
.topright{
    position: absolute;
    top: 0; right: 0;
    width: 247px;
    height: 80px;
    
}
.topright li{padding-right: 13px;}
.topright > img {padding-left: 2px; padding-top: 2px;}
.topright .search{
    position: absolute;
    top: 45px; right: 0;
    height: 20px;
    border: 1px solid gray;
}
.topright .searchbar{
    float: left;
    width: 128px; height: 20px;box-sizing: border-box;
}
.topright .searchbtn{
    float: left;
    width: auto; height: 20px;
}

/*하위메뉴*/
.product{
    position: absolute;
    left: 0; top: 40px;
    width: 970px;
    
    
}
.product li{padding: 0 8px;}
.community{
    position: absolute;
    left: 0; top: 40px;
    width: 970px;
}
.community li{padding: 0 8px;}
.custom{
    position: absolute;
    left: 0; top: 40px;
    width: 970px;
}
.custom li{ padding: 0 8px;}



/*전체 보기 메뉴*/
#total{
    position: absolute;
    width:970px; height:300px;  
    left:50%;
    margin-left: -485px;
    border: 3px solid #f07539;
    background: #fff;
    overflow:hidden;
    display: none;
    z-index:10;
    
}

#total > .exit{
    position: absolute;
    bottom: -6px; right:0;
}

.totalMenu{
    width: 100%; height : 100%;
    background: url("../images/full_bg2.gif") repeat-x left top;
    
}
.totalMenu > li{
    float: left;
    width:156px; height:290px;
    padding: 0 19px;
    background: url("../images/full_bg.gif") no-repeat right 50px;
}
.totalMenu > li > p{
    height: 33px;
    padding-top:17px;
    text-align: center;
}

.totalMenu > li > ul{
    display: block;
    margin-top: 14px;
}

.totalMenu > li > ul > li{
    display: block;
    height:22px;width: 100%;
    background: url("../images/full_dot.gif") repeat-x left bottom;
}
.totalMenu > li > ul > li > a{
    display:block;
    padding: 5px 0 0 22px;
    background: url("../images/full_ico.gif") no-repeat 16px center;
}

/*슬라이딩 배너*/

#main{
    margin:0 auto;
    width:970px;
}
#mainImg{
    width: 970px; height: 465px;
    margin-top:20px;
    position: relative;
    overflow: hidden;
    
}   
.banner{
    width:6790px;
}
.banner > li{
    float:left;
}
#mainImg > div:nth-of-type(1){
    position: absolute;
    top:200px;
}
#mainImg > div:nth-of-type(2){
    position: absolute;
    right:0; top:200px;
}


/* 컨텐츠 박스 */
#content{
    width:970px;
    padding-top: 5px;
    overflow: hidden;
}
.contentBox{
    float: left;
    margin:20px 19px 0 0;
    width: 304px;
    overflow: hidden;
}
.contentBox > div{
    overflow: hidden;
    border-bottom: 1px solid lightgray;
} 
.contentBox > div > h3{
    float: left;
    margin:0;
    padding:0 11px 7px;
}
.contentBox > div > a {
    float: right;
    margin-right: 10px;
}
.contentBox > div:nth-of-type(2) > a {
    float: left;
    padding: 10px 0;
}
.contentBox div:nth-of-type(2) h4 {
    margin-top:20px;
    color: darkorange;
    font-weight:bold;
}
.contentBox > ul{
    margin:10px;
    overflow: hidden;
}
.contentBox > ul > li{
    display: block;
    padding-left:7px;
    margin-bottom: 5px;
    background:url(../images/ball_gray2.gif) no-repeat left center;
    overflow: hidden;
}
.contentBox > ul > li > a:hover{
    text-decoration: underline;
}
/* 바텀 메뉴 */
#bottom_menu{
    padding-top:23px;
    padding-bottom: 37px;
    margin-top: 28px;
    overflow: hidden;
}
#bottom_menu > li{
    float: left;
    height: 34px;
    padding:0 26px 0 25px;
    background:url(../images/dot2.gif) no-repeat right top;
}
#bottom_menu > .final{background:none;}
/*footer*/
#footer_wrap{
    float: left;
    position: relative;
    width: 100%; height:100px;
    border-top:1px solid lightgray;
    display: block;
    clear: both;
    background: #2a2b2b; 
}
#footer{
    position: relative;
    width:970px;
    margin: 0 auto;
    text-align: left;
    padding-top:20px;
}
.nav1{
    margin: 0 0 12px 0;
    overflow: hidden;
}
.nav1 > li{
    float: left;
    padding:0 9px;
    overflow: hidden;
    background: url(../images/footer_line.gif) no-repeat right 2px;
}
.nav2{
    margin-left: 0;
    overflow: hidden;
    float:left;
}
.nav2 > li{
    float: left;
    background: url(../images/footer_line.gif) no-repeat right 2px;
    padding: 0 5px;
    overflow: hidden;
}
#copyright{
    clear: both;
    padding:3px 0 15px 0;
    margin-left:4px;
    overflow: hidden;
}
#family_site{
    float:right;
    position: relative;
    width:128px; height: 125px;
    margin-top: -40px;
}
.foot01{
    height:21px; width:128px;
    position: absolute;
    top:-40px;
}
.foot02{
    position: absolute;
    top:-80px;
    width:128px;
    background:#fff;
    z-index:1;
    padding:5px 0 5px 0;
}
.foot02 li{ margin-left:10px;}
.foot02 a{display: block;}