/*reset css*/
@charset "utf-8";
*{margin:0; padding:0;}
ol,ul{list-style:none;}
a{outline:0; text-decoration:none; color:#555;}
img{border:0;}
body{font:12px/1.6 arial; color:#555;}
.white{
    background-color: white;
    z-index: 998;
}
.pink{
    background-color:#d99f9d;
    z-index: 998; 
}



/*header*/
#header{
    height: 60px;
    width: 100%;
    position: relative;
    z-index : 801;
    font-family: 'Lora',sans-serif,Verdana,'Nanum Gothic' !important;
    
}

#header > h1#mainLogo{
    position : absolute;
    left: 80px;
    bottom : 5px;
}
ul#mainMenu1{
    position: absolute;
    left : 300px;
    bottom : 5px;
}

ul#mainMenu1 > li{
    float: left;
    padding : 2x;
    margin : 10px;
}

ul#mainMenu2{
    position: absolute;
    right : 205px;
    bottom : 3px;
    
}

ul#mainMenu2 > li{
    float: left;
    padding : 2x;
    margin : 10px;
}

ul#tools{
    position: absolute;
    right : 80px;
    bottom : 0px;
}

ul#tools > li{
    float: left;
    margin : 0 10px 10px 10px;
   
}
ul#tools > li > .shoppingCart{
    opacity: 0;
}
/* 2019.09.19 */

ul#mainMenu1 > li{
    position: relative;
}
/*ul#mainMenu1*/ .subCategory{
    width:150px;
    height: 400px;
    background-color: rgb(242, 225, 211);
    z-index: 999;
    display:none;
}
.subCategory li{
    padding-left: 30px;
    padding-bottom: 1px;
    height: 30px;
    font-family: 'Lora','Microsoft Himalaya',sans-serif,Verdana,'Nanum Gothic'!important;
}

.subCategory li:first-of-type{
    padding-top:20px;
}
ul#mainMenu1 div.tce{
    height: 340px;
    position: absolute;
    left:0; bottom: -353px
    /*display: none;*/
}

ul#mainMenu1 div.kkxx{
    height: 130px;
    position: absolute;
    left:0; bottom: -143px
    /*display: none;*/
}

ul#mainMenu1 div.nandaMade{
    height: 250px;
    position: absolute;
    left:0; bottom: -263px
    /*display: none;*/
}

ul#mainMenu1 div.apperalFashion{
    height: 310px;
    position: absolute;
    left:0; bottom: -323px
    /*display: none;*/
}

/* //2019.09.19 */

/* //2019.09.19 */

/*main*/

div#mainWrap{
    font-family: 'Lora',sans-serif,Verdana,'Nanum Gothic' !important;
    margin-top: 100px;
}

/**/
.viewImgList{
    position: relative; width: 100%;
}
.viewImgList li{
    text-align: center; height: 550px; line-height: 550px;
}

.viewImgList li.imglist0{
    position: relative; z-index: 50; background: url('./images/mainslide01.jpg') no-repeat center;
}

.viewImgList li.imglist1{
    position: absolute; width: 100%; left: 0; top: 0; z-index: 10; background: url('../images/mainslide02.jpg') no-repeat center;
}

.viewImgList li.imglist2
{position: absolute; width: 100%; left: 0; top: 0; z-index: 10; background: url('../images/mainslide03.jpg') no-repeat center;
}

.viewImgList li{
    background-size: cover !important;
}
.viewImgList li .roll_content{
    position: relative;
}
.viewImgList li .roll_content .roll_txtline{
    position: absolute; left: 0; bottom: 60px; width: 100%; line-height: 1; text-align: center; font-size: 22px; color: #fff; letter-spacing: 2px;
}

/*rollbtnArea*/
.rollbtnArea{display:none;
    position: absolute; width: 100%;; left: 0; bottom: 25px; z-index: 200;
}
.rollbtnArea .rollingbtn{
    width: 320px; margin: 0 auto; text-align: center;
}
.rollbtnArea .rollingbtn li{
    display: inline-block; margin-right: 5px;
}
.rollbtnArea .rollingbtn li.butt0{
    margin-left: 10px;
}
.rollbtnArea .rollingbtn li.rollplay{display: none;}
.rollbtnArea .rollingbtn li a{vertical-align: top;}
.about_area h2{
    padding: 55px 0 105px; text-align: center; font-size: 40px;
}


/*---------------------------*/

/*메인*/

/*메인 배너 2개*/
div#mainSection1{
    width: 100%;
    height: 600px;

}
div.mainBanner{
    width: 850px;
    height: 600px;
    position: relative;
}


div#mainBanner1{
    position: absolute;
    top:50px;
    left:80px;

}
div#mainBanner2{
    position: absolute;
    top:50px;
    right:80px;
}

/*hot item*/

div#mainSection2{
    width: 100%;
    height: 40px;
    position: relative;

}
div.hotItem{
    text-align: center;
    line-height: 40px;
    font-family: 'Lora',sans-serif,Verdana,'Nanum Gothic' !important;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 80px;
    bottom: 5px;
}

div#mainSection3{
    margin: 0 80px 0 80px;
    width: 1745px;
    height: 1500px;
    border-top: 1px solid black;
}

ul.hotItem > li{
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}

ul.hotItem > li:last-of-type{
    margin-right: 0;
}
/* 8% SALE */

div#mainSection4{
    width: 100%;
    height: 40px;
    position: relative;

}
div.todaySale{
    text-align: center;
    line-height: 40px;
    font-family: 'Lora',sans-serif,Verdana,'Nanum Gothic' !important;
    width: 90px;
    height: 40px;
    position: absolute;
    left: 80px;
    bottom: 5px;
}

div#mainSection5{
    margin: 0 80px 0 80px;
    width: 1745px;
    height: 1500px;
    border-top: 1px solid black;
}

ul.todaySale > li{
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}

ul.todaySale > li:last-of-type{
    margin-right: 0;
}
/* 박스 공통 속성 */
div.listBox{
    width: 418px;
    height: 700px;
}

div.pictureBox{
    width: 100%;
    height: 600px;
    /*background-color: darkgrey;*/
}

div.dscrBox{
    width: 100%;
    height: 150px;
    /*background-color:mediumaquamarine;*/
}

#mainWrap .colorBox{
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
}
#mainWrap .colorBox span{
    width: 20px;
    height: 20px;
    margin: 0 2.5px;
    float: left;
    border: 1px solid darkgrey;
    cursor: pointer;
}
#mainWrap .colorBox input{
    float: right;
}
.product{
    height: 48px;
    font-size: 12px !important;
    font-weight: normal !important;
    color: #000 !important;
    font-family: "Work Sans","HelveticaNeue",helvetica,Arial,sans-serif !important;
    position: relative;
}

.product img{
    margin-bottom:0;
    position: absolute;
    bottom:13px;
}
.productDes{
    color: #999 !important;
    font-size: 11px !important;
    line-height: 18px;
}



/*footer*/

/*푸터전체*/
div#footer{
    width: 1163px;
    height: 850px;
    margin: 0 auto;
}

/*배너*/
div#footer > div.benefitBanner{
    display:block;
    height:237px;
    width: 100%;
    margin:200px auto 0;
}

ul.benefitBanner > li{
    float: left;
    margin-right: 17.5px
}

ul.benefitBanner > li:last-of-type{
    margin-right: 0;
}
/*푸터 메뉴*/
div#footer > div.ftMenu{
    display:block;
    height: 170px;
    width: 1000px;
    margin:110px auto 0;
    font-family: 'Lora',sans-serif,Verdana,'Nanum Gothic' !important;
    font-size: 11px;
    color: rgb(16, 16, 16);
}

ul.ftMenu > li{
    float: left;
    width: 130px;
    height: 100%;
    margin-right: 15px;
    padding-left: 15px;
}

ul.ftMenu > li:first-of-type{
    margin-left:100px;
}

ul.ftMenu > li:nth-of-type(2){
    width:140px;
}

ul.ftMenu > li:nth-of-type(4){
    width:70px;
}

ul.ftMenu > li:nth-of-type(5){
    width:70px;
}

ul.ftMenu > li:nth-of-type(6){
    width:70px;
}


/*푸터 아이콘*/
div#footer > div.ftIcon{
    
    height: 91px;
    width: 1000px;
    margin:10px auto 0;
    position: relative;
    top:37px;
    left:398px;
}

/*div.ftIcon{
    position: relative;
    top:37px;
    left:398px;
}*/

div#footer > div.ftIcon > ul.ftIcon{
    position: absolute;

}

ul.ftIcon > li{
    float: left;
    margin-left: 20px;
}

/*푸터 회사정보*/
div#footer > div#information{
    
    height: 150px;
    width: 100%;
    margin:10px auto 0 auto;
    text-align: center;
}

/* 2019.09.19 */

/*전체메뉴 클릭 시 화면*/
#gnbBody{
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 800;
    background: #d99f9d;
    text-transform: uppercase;
    font-size: 18px;
    display:none;
}



#gnbBody > #gnbMenu{
    position: fixed;
    width:50%;
    left:25%;
    bottom:47%;
    font-family: 'Lora','Microsoft Himalaya,sans-serif,Verdana','Nanum Gothic'!important;
    font-size:14px;
    text-align: left;
}

#gnbBody > #gnbMenu > #voidArea1{
    
    width:100%;
    height: 300px;
    float:top;
    /*background-color: crimson;*/
}
#voidArea2{
    width:22%;
    height: 100%;
    float:left;
    /*background-color: crimson;*/
}
#voidArea3{
    width:22%;
    height: 100%;
    float:right;
    /*background-color: crimson;*/
}
#gnbBody > #gnbMenu > li{
    float:left;
    padding: 0 27px;
    width:12%;
    position: relative;
}
#gnbBody > #gnbMenu > li:nth-of-type(2){
    /*text-align:center;*/
    width:16%;
}

#gnbBody .ftIcon{
    position: fixed;
    bottom:5%; left:44%;  
}

ul#gnbMenu .subCategory{
    font-family:'Lora',Microsoft Himalaya,sans-serif,Verdana,'Nanum Gothic'!important;
    font-size:12px;
    text-align: left;
}
ul#gnbMenu div.notice{
    height: 355px;
    position: absolute;
    left:0; bottom: -368px;
}
/*
ul#gnbMenu div.todaySale{
    height: 130px;
    position: absolute;
    left:0; bottom: -143px
    
}
*/
ul#gnbMenu div.qna{
    height: 360px;
    position: absolute;
    left:0; bottom: -373px;
}

ul#gnbMenu div.review{
    height: 80px;
    position: absolute;
    left:0; bottom: -93px
  
}

ul#gnbMenu div.store{
    height: 210px;
    position: absolute;
    left:0; bottom: -223px
  
}

 /*====================화면 넓이 변경 시====================*/

/*헤더*/

@media all and (max-width:1155px) and (min-width:940px){
    .box_inner{width: 100%;}
    /*header*/
    ul#mainMenu2{
        visibility: hidden;     
    }
 }

 @media all and (max-width:939px) and (min-width:748px){
    .box_inner{width: 100%;}
    /*header*/
    /*ul#mainMenu1{
        visibility: hidden;     
    }
    */
    ul#mainMenu2{
        visibility: hidden;     
    }
    ul#tools{
        visibility: hidden; 
    }
}

@media all and (max-width:747px) and (min-width:503px){
    .box_inner{width: 100%;}
    /*header*/
    ul#mainMenu1{
        visibility: hidden;     
    }
    
    ul#mainMenu2{
        visibility: hidden;     
    }
}

@media all and (max-width:502px) and (min-width:494px){
    .box_inner{width: 100%;}
    /*header*/
    ul#mainMenu1{
        visibility: hidden;     
    }
    
    ul#mainMenu2{
        visibility: hidden;     
    }
}

@media all and (max-width:493px){
    .box_inner{width: 100%;}
    /*header*/
    ul#mainMenu1{
        visibility: hidden;     
    }
    
    ul#mainMenu2{
        visibility: hidden;     
    }

    ul#tools{
        visibility: hidden; 
    }
}

/*메인 화면*/


@media all and (max-width:1880px){
    .box_inner{width: 100%;}
    div#mainSection1{
        width: 100%;
        height: 1600px;
        position: relative;
    }

    div.mainBanner{
        width: 1200px;
        height: 700px;
        position: relative;
    }

    ul.viewImgList img{
        width: 1200px;
        height: 700px;
        overflow:hidden;
    }
    
    div#mainBanner1{
        position: absolute;
        top:50px;
        left:350px;
    }
    div#mainBanner2{
        position: absolute;
        top:760px;
        left:350px;
    }

/*
@media all and (max-width:1028px){
    .box_inner{width: 100%;}
    #mainBanner1{
        visibility: hidden;
    }
}
*/


/*rollbtnArea*/
.rollbtnArea{
    position: absolute; width: 100%;; left: 0; bottom: 25px; z-index: 200;
}
.rollbtnArea .rollingbtn{
    width: 1200px; margin: 0 auto; text-align: center;
}
.rollbtnArea .rollingbtn li{
    display: inline-block; margin-right: 5px;
}
.rollbtnArea .rollingbtn li.butt0{
    margin-left: 10px;
}
.rollbtnArea .rollingbtn li.rollplay{display: none;}
.rollbtnArea .rollingbtn li a{vertical-align: top;}
.about_area h2{
    padding: 55px 0 105px; text-align: center; font-size: 40px;
}
*/ 