/* reset CSS */
*{margin:0; padding:0;}
ul li{list-style: none;}
a{outline:0; text-decoration: none; color:#000;}
img{border:0;}
body{font:11px/1.6 arial; color:#000;}


#contentWrap{
    width: 70%;
    margin: 0 auto;
    padding: 70px 0px 80px;
}
*{
    box-sizing: border-box;
}
#content{
    /* width:970px; */
    margin:0 auto;
}
.border{
    border-top: 1px solid #ccc;
}
#titleWrap{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    font-weight: 800;
}

#title{
    font-size: 16px;
    margin-top: 0;
    padding: 0px 0px 40px;
}


.subsubTitle{
    width: 130px;
    padding: 10px 0 8px 20px;
    /* border-top: 1px solid #ccc; */
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
/* h4 */
h4{
    padding: 50px 0 20px 20px;
    font-size: 13px !important;
}
/* p */
p{ font-size: 12px;}
.required{
    margin: -25px 0 10px;
    color: #353535;
    text-align: right;
}

/*  */
.member{
    overflow: hidden;
}
/*  */
.subsubTitle{
    float: left;
}
#detail1{
    float: left;
    width: auto;
    padding: 10px 0 8px 40px;
    text-align: left;
    vertical-align: middle;
}

#detail2{
    float: left;
    width: auto;
    padding: 10px 0 8px 40px;
    text-align: left;
    vertical-align: middle;
}
/*  */
.subTitle{
    width: 115px;
    padding: 10px 0 8px 20px;
    /* border-top: 1px solid #ccc; */
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
/*  */
.floatL {
    display: block;
    overflow: hidden;
}
.floatL > div {
    float: left;
}


/*  */
.subCon_floatL{
    float: left;
    width: auto;
    padding: 10px 0 8px 40px;
    text-align: left;
    vertical-align: middle;
}

#smsAgr{
    vertical-align: middle;
}
#emailAgr{
    vertical-align: middle;
}
#old{
    vertical-align: middle;
}

/* authMember */
.authMember{
    height: 70px;
    position: relative;
}
#auth{
    padding: 20px 0 30px 20px;
}
.authWrap{
    display: block;
    height: 70px;
    position: relative;
}
.mobileWrap{
    vertical-align: middle;
    position: absolute;
    top: 37px;
    left: 168px;
}
/* pwd_hint */
#pwd_hint{
    padding: 13px 0 8px 40px;
}
/* #hint */
#hint {
    height: 26px;
    font-size: 11px;
}
/* #hint_answer */
#hint_answer{
    padding: 13px 0 8px 40px;
}
#hint_answer > input{
    width: 500px;
    height: 26px;
}
/* input하이트 묶을것!!!!!!!!!! */